body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://www.publicdomainpictures.net/pictures/140000/velka/blue-background-14466365179vp.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}